.header {
  text-align: center; }

.blog-post, h2 {
  color: brown;
  font-size: 30px; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 20px;
  color: orange; }
