$text-color: brown;
$textocolor: orange;

.header{
    text-align: center;
}
.blog-post, h2 {
    color: $text-color;
    font-size: 30px;
}


nav{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a{
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        font-size: 20px;
        color: $textocolor;
    }
}